DJANGO_SETTINGS_MODULE=config.settings.development
SECRET_KEY=
DATABASE_URL=postgres://USER:PASSWORD@localhost:5432/DBNAME
CLOUDINARY_URL=cloudinary://API_KEY:API_SECRET@CLOUD_NAME
ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=